@using EComponentsXabWebApp.ViewModels.Contact;
@model CustomerContactViewModel

@{
    ViewBag.Title = "Обратная связь";
}

<!--
            =============================================
                Theme Inner Banner
            ==============================================
            -->
<div class="theme-inner-banner">
    <div class="container">
        <h2 class="intro-title text-center">Связь с нами</h2>
        <ul class="page-breadcrumb style-none d-flex justify-content-center">
            <li><a asp-action="Index" asp-controller="Home">Главная</a></li>
            <li class="current-page">Обратная связь</li>
        </ul>
    </div>
    <img src="images/shape/shape_38.svg" alt="" class="shapes shape-one">
    <img src="images/shape/shape_39.svg" alt="" class="shapes shape-two">
</div> <!-- /.theme-inner-banner -->
<!--
=============================================
    Contact Section One
==============================================
-->
<div class="contact-section-one mb-170 lg-mb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="address-block-two text-center mb-40 sm-mb-20">
                    <div class="icon d-flex align-items-center justify-content-center m-auto"><img src="~/sinco/images/icon/icon_17.svg" alt=""></div>
                    <h5 class="title">Наш адрес</h5>
                    <p>
                        Санкт-Петербург, Колпино
                        <br>улица Веры Слуцкой, 89
                    </p>
                </div> <!-- /.address-block-two -->
            </div>
            <div class="col-md-6">
                <div class="address-block-two text-center mb-40 sm-mb-20">
                    <div class="icon d-flex align-items-center justify-content-center m-auto"><img src="~/sinco/images/icon/icon_18.svg" alt=""></div>
                    <h5 class="title">Контактная информация</h5>
                    <p>Вы можете позвонить на нашу горячую линию <br><a href="tel:89119202131" class="call">+7 (911) 920-21-31 </a></p>
                </div> <!-- /.address-block-two -->
            </div>
            @*<div class="col-md-4">
                <div class="address-block-two text-center mb-40 sm-mb-20">
                    <div class="icon d-flex align-items-center justify-content-center m-auto"><img src="~/sinco/images/icon/icon_19.svg" alt=""></div>
                    <h5 class="title">Онлайн поддержка</h5>
                    <p>Онлайн поддержка осуще <br><a href="#" class="webaddress">www.sincochat.com</a></p>
                </div> <!-- /.address-block-two -->
            </div>*@
        </div>
    </div>

    <div class="mt-100 lg-mt-70">
        <div class="container">
            <div class="row gx-xxl-5">
                <div class="col-lg-6 d-flex order-lg-last">
                    <div class="form-style-one">
                        <h3 class="form-title pb-40 lg-pb-20">Данные Заявки.</h3>
                        <form method="post" asp-action="Contact" asp-controller="Home">
                            @*<div class="messages"></div>*@
                             <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row controls">
                                <div class="col-12">
                                    <div class="input-group-meta form-group mb-30">
                                        <label asp-for="CustomerName">Имя*</label>
                                        <input asp-for="CustomerName" type="text" placeholder="Ваше Имя" required="required" data-error="Name is required.">
                                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                                        @*<div class="help-block with-errors"></div>*@
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="input-group-meta form-group mb-30">
                                        <label asp-for ="CustomerEmail">Email*</label>
                                        <input asp-for="CustomerEmail" type="email" placeholder="Ваша почта" required="required" data-error="Valid email is required.">
                                        <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                                        @*<div class="help-block with-errors"></div>*@
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group-meta form-group mb-30">
                                        <textarea asp-for="Message" placeholder="Ваше сообщение*" required="required" data-error="Please,leave us a message."></textarea>
                                        <span asp-validation-for="Message" class="text-danger"></span>
                                        @*<div class="help-block with-errors"></div>*@
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn-eight ripple-btn">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- /.form-style-one -->
                </div>

                <div class="col-lg-6 d-flex order-lg-first">
                    <div class="map-area-one mt-10 me-lg-4 md-mt-50">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe class="gmap_iframe" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=ProtoStudio Kolpino&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                            </div>
                        </div>
                    </div> <!-- /.map-area-one -->
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.contact-section-one -->

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <!-- validator js -->
    <script src="~/sinco/vendor/validator.js"></script>
}
