<!--
			=============================================
				Error Page
			==============================================
			-->
<div class="error-page-content d-flex align-items-center justify-content-center">
	<div class="container">
		<div class="row">
			<div class="col-xxl-6 col-lg-7 m-auto">
				<h2>Запрошенная страница не найдена!</h2>
				<p class="me-xxl-5 ms-xxl-5">Возможно она была удалена или перенесена на другой ресурс.</p>
				<a asp-action="Index" asp-controller="Home" class="btn-eight">Главная</a>
			</div>
		</div>
		<img src="~/sinco/images/assets/ils_21.svg" alt="" class="m-auto">
	</div>
	<img src="~/sincoimages/shape/shape_49.svg" alt="" class="shapes shape-one w-100">
</div> <!-- /.error-page-content -->